<% if @book.errors.any? %>
  <div>
    <%= @book.errors.count %> errors prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'userinfo', book: @book, user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <a href="<%= user_path(@user.id) %>">
                <%= image_tag @book_data.user.get_profile_image(100,100) %><br><%= @user.name %>
              </a>
            </td>
            <td>
              <a class="book_<%= @book_data.id %>" href="/books/<%= @book_data.id %>/edit">
                <%= @book_data.title %>
              </a>
            </td>
            <td><%= @book_data.body %></td>
            <td>
              <% if current_user.id == @book_data.user_id %>
                <%= link_to "Edit", edit_book_path(@book_data.id), class: "btn btn-secondary" %>
              <% end %>
            </td>
            <td>
              <% if current_user.id == @book_data.user_id %>
                <%= link_to "Destroy", book_path(@book_data.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-secondary" %>
              <% end %>
            </td>

            <td>
              <% if @book_data.favorited_by?(current_user) %>
                <%= link_to book_favorites_path(@book_data), style: "color: red;", method: :delete, remote: true do %>
                  <i class="fas fa-heart "></i>
                  <span><%= @book_data.favorites.count %></span>
                <% end %>
              <% else %>
                <%= link_to book_favorites_path(@book_data), style: "color: blue;", method: :post, remote: true do %>
                  <i class="fas fa-heart"></i>
                  <span><%= @book_data.favorites.count %></span>
                <% end %>
              <% end %>
            </td>

            <td>
              <p>コメント数：<%= @book_data.book_comments.count %></p>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
      <% @book_data.book_comments.each do |book_comment| %>
        <%= image_tag book_comment.user.get_profile_image(50,50) %>
        <label><%= book_comment.comment %></label>
        <% if book_comment.user == current_user %>
          <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-secondary" %>
        <% end %><br>
        <a href="<%= user_path(@user.id) %>"><%= book_comment.user.name %></a><br>
      <% end %>
      </div>

      <div>
        <%= form_with model: [@book_data, @book_comment] do |f| %>
        <%= f.text_area :comment, size: "100x5" %><br>
        <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
